.mat-form-field {
  width: 100%;
  position: relative;
  font-size: 1.6rem;

  a {
    position: absolute;
    left: 0%;
    bottom: -100%;
  }
}
.mat-list {
  display: flex;
  flex-direction: column;
  .mat-list-base {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.5px solid rgba(grey,.08);
    .mat-list-option {
      font-size: 20px;

    }
  }
}

a:hover {
  text-decoration: none;
}
