<mat-form-field>
  <input
    matInput
    type="text"
    #itemTitle
    placeholder="Enter your task here:"
    (keyup.enter)="onAdd(itemTitle)"
  />
  <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
    <a mat-raised-button color="primary">Add Task</a>
  </div>
</mat-form-field>

<mat-list style="margin: 15px 0px" #titles>
  <mat-selection-list *ngFor="let item of toDoListArray">
    <mat-list-option
      checkboxPosition="before"
      (click)="alterCheck(item.$key, item.isChecked)"
      [selected]="item.isChecked"
    >
      <p
        [ngStyle]="
          item.isChecked
            ? { 'text-decoration': 'line-through' }
            : { 'text-decoration': 'none' }
        "
      >
        {{ item.title }}
      </p>
    </mat-list-option>
    <!-- <button mat-icon-button color="accent" >
      <mat-icon>edit</mat-icon>
    </button> -->
    <button mat-icon-button color="warn" (click)="onDelete(item.$key)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-selection-list>

    <h3>Today you have finished: {{ tasksDone }} tasks.</h3>
  <a mat-flat-button color="warn" class="d-flex align-self-start" (click)="onReset()" [disabled]="tasksDone === 0">Reset all</a>
</mat-list>
