<mat-form-field>
  <input matInput type="text"  #itemTitle placeholder="ex. Do your homework">
  <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
    <a mat-raised-button color="primary" >Add</a>
  </div>
</mat-form-field>

<!-- <mat-list >
<mat-selection-list    *ngFor="let item of toDoListArray"  >
  <mat-list-option   >
    <p>{{item.title}}</p>

  </mat-list-option>

</mat-selection-list>
</mat-list>
<p>
  Options selected: {{shoes.selectedOptions.selected.length}}
</p> -->

<div style="margin:15px 0px">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of toDoListArray">
      <span class="hover-cursor " [class.text-success]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
        <!-- <p>
          <mat-checkbox [formControl]="disableSelect">Disable select</mat-checkbox>
        </p> -->
        <i class="fa fa-lg check" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
      <span class="to-do-item">{{item.title}}</span> </span>
      <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
        <i class="fa fa-trash-o fa-lg"></i>
      </span>
    </li>
  </ul>
</div>
